/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole CSS */
.container {
    width: 1170px;
    margin: auto;
}
.header-top{
    background-color:rgb(37, 94, 233);
    height: 100px;
    display: flex;
    justify-content: center;
}
.login {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom{
    background-color: blue;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download {
    width: 50%;
    background-color: hotpink;
    height: 300px;
}

/* MAIN */
section {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.cella {
    display: flex;
    height: 300px;
}
.img{
    background-color: cornflowerblue;
    width: 60%;
}
.text {
    background-color:  pink;
    width: 40%;
}
.bg-grey {
    background-color: lightgray;
}
.bg-grey .text {
    order: -1;
}
.big-section {
    padding: 50px 0;
}
.column {
    height: 700px;
    background-color: green;
}

/* FOOTER */
footer {
    background-color: darkslategray;
    padding-top: 20px;
}
.footer-top {
    height: 500px;
    margin-bottom: 40px;
    display: flex;   
}
.box.big {
    width: 40%;
    background-color: pink;
}
.box {
    width: calc(100% / 4);
    background-color: aquamarine;
    border: 1px dashed black;
}
.footer-bottom {
    background-color: orange;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}