/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Regole di DEBUG */
.debug .header-top{
    background-color:aquamarine;
    height: 100px;
}
.debug .login{
    background-color: crimson;
    border: 1px dashed black;
    height: 50px;
}
.debug .header-bottom {
    background-color: blue;
    height: 500px;
}
.debug .download {
    background-color: hotpink;
    border: 1px dashed black;
    height: 300px;
}

.debug section {
    height: 400px;
}
.debug .cella {
    height: 300px;
    border: 1px solid red;
}
.debug .img{
    background-color: cornflowerblue;
    width: 60%;
    border: 1px dashed white;
}
.debug .text {
    background-color:  pink;
    width: 40%;
    border: 1px dashed green;
}
.debug .big-section {
    height: 800px;
}
.debug .column {
    height: 700px;
    background-color: green;
    border: 1px dashed black;
}


/* Regole CSS */
.container {
    width: 1170px;
    margin: auto;
}
.header-top{
    display: flex;
    justify-content: center;
}
.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download {
    width: 50%;
}
section {
    display: flex;
    justify-content: center;
}
.cella {
    display: flex;
}
.bg-grey {
    background-color: lightgray;
}